#content-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
}

#chart-container {
    text-align:center;
    width: 80%;
}

#icg-container {
    text-align:left;
    width: 30%;
    margin-left: 30px;
    display: flex;
//    border: solid red;

}

#icg-pane {
    text-align:left;
    width: 90%;
    margin: 0 auto;
    margin-top:5em;
}

#spacer {
    width:100px;
    height:100%;
}

.chart {
//    border: solid blue;
    height: 50%;
}

.toolbar {
    text-align: center;
    width: 100%;
}

.icg-pane {
    width: 50%;
}
